// global include
// @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

// local include
@font-face{
    font-family: "CenturyGothic";
    src : url("../fonts/CenturyGothic.ttf");
}
@font-face{
    font-family: "CenturyGothic-Bold";
    src : url("../fonts/CenturyGothic-Bold.ttf");
}